In [14]:
# Download the employees dataset from the resources for this lesson.
# Then, import it into R using your preferred import method.
data <- read.csv("pokRdex-comma.csv")
head(data)

  id pokemon    species_id height weight base_experience type_1 type_2 attack
1 1  bulbasaur  1           7       69    64             grass  poison 49
2 2  ivysaur    2          10      130   142             grass  poison 62
3 3  venusaur   3          20     1000   236             grass  poison 82
4 4  charmander 4           6       85    62             fire   NA     52
5 5  charmeleon 5          11      190   142             fire   NA     64
6 6  charizard  6          17      905   240             fire   flying 84
  defense hp special_attack special_defense speed
1 49      45  65             65              45
2 63      60  80             80              60
3 83      80 100            100              80
4 43      39  60             50              65
5 58      58  80             65              80
6 78      78 109             85             100

In [19]:
# Set the file to the CSV file
file <- "pokRdex-comma.csv"

# Read the first row of the CSV file into a vector
header_row <- read.csv(file = file, nrows = 1, header = FALSE, stringsAsFactors = FALSE)
col_names <- as.character(header_row)

# Read the CSV file into a data frame, skipping the first row
data <- read.csv(file = file, skip = 1, header = FALSE, stringsAsFactors = FALSE)

# Set the column names of the data frame
colnames(data) <- col_names

# Print the data frame to verify the import with the header row as column names
head(data)

  id pokemon    species_id height weight base_experience type_1 type_2 attack
1 1  bulbasaur  1           7       69    64             grass  poison 49
2 2  ivysaur    2          10      130   142             grass  poison 62
3 3  venusaur   3          20     1000   236             grass  poison 82
4 4  charmander 4           6       85    62             fire   NA     52
5 5  charmeleon 5          11      190   142             fire   NA     64
6 6  charizard  6          17      905   240             fire   flying 84
  defense hp special_attack special_defense speed
1 49      45  65             65              45
2 63      60  80             80              60
3 83      80 100            100              80
4 43      39  60             50              65
5 58      58  80             65              80
6 78      78 109             85             100

In [20]:
# Rename the variables
colnames(data) <- c("Employee number", "First name", "Last name", "Birth date", "Gender", "Job title", "Salary", "From date", "To date")

# Print the modified data frame
head(data)

  Employee number First name Last name Birth date Gender Job title Salary
1 1               bulbasaur  1          7           69    64       grass
2 2               ivysaur    2         10          130   142       grass
3 3               venusaur   3         20         1000   236       grass
4 4               charmander 4          6           85    62       fire
5 5               charmeleon 5         11          190   142       fire
6 6               charizard  6         17          905   240       fire
  From date To date <NA> <NA> <NA> <NA> <NA>
1 poison    49      49   45    65   65   45
2 poison    62      63   60    80   80   60
3 poison    82      83   80   100  100   80
4 NA        52      43   39    60   50   65
5 NA        64      58   58    80   65   80
6 flying    84      78   78   109   85  100

In [21]:
# Export the data set you currently have as a CSV, without saving the row names.
write.csv(data, file = "export.csv", row.names = FALSE)

In [23]:
# Import it back again to make sure everything is okay.
data <- read.csv("export.csv")
head(data)

  Employee.number First.name Last.name Birth.date Gender Job.title Salary
1 1               bulbasaur  1          7           69    64       grass
2 2               ivysaur    2         10          130   142       grass
3 3               venusaur   3         20         1000   236       grass
4 4               charmander 4          6           85    62       fire
5 5               charmeleon 5         11          190   142       fire
6 6               charizard  6         17          905   240       fire
  From.date To.date NA. NA..1 NA..2 NA..3 NA..4
1 poison    49      49  45     65    65    45
2 poison    62      63  60     80    80    60
3 poison    82      83  80    100   100    80
4 NA        52      43  39     60    50    65
5 NA        64      58  58     80    65    80
6 flying    84      78  78    109    85   100

In [33]:
# Create a data frame that looks like this:

#Name           Months old   Size Weight  Breed
#Flipper         53      medium     21   dog
#Bromley         19       small      8   dog
#Nox             34      medium      4   cat
#Orion           41       large      6   cat
#Dagger          84       small      7   dog
#Zizi           140 extra small      2   cat
#Carrie         109       large     36   dog

df <- data.frame(
  Name = c("Flipper", "Bromley", "Nox", "Orion", "Dagger", "Zizi", "Carrie"),
  Months_old = c(53, 19, 34, 41, 84, 140, 109),
  Size = c("medium", "small", "medium", "large", "small", "extra small", "large"),
  Weight = c(21, 8, 4, 6, 7, 2, 36),
  Breed = c("dog", "dog", "cat", "cat", "dog", "cat", "dog")
)
df

  Name    Months_old Size        Weight Breed
1 Flipper  53        medium      21     dog
2 Bromley  19        small        8     dog
3 Nox      34        medium       4     cat
4 Orion    41        large        6     cat
5 Dagger   84        small        7     dog
6 Zizi    140        extra small  2     cat
7 Carrie  109        large       36     dog

In [34]:
# Can you think of a way to invert the values for breed?
df$Breed <- ifelse(df$Breed == "dog", "cat", "dog")
df

  Name    Months_old Size        Weight Breed
1 Flipper  53        medium      21     cat
2 Bromley  19        small        8     cat
3 Nox      34        medium       4     dog
4 Orion    41        large        6     dog
5 Dagger   84        small        7     cat
6 Zizi    140        extra small  2     dog
7 Carrie  109        large       36     cat

In [35]:
# Requirements: the pets data frame from Exercise 16.

# 1. Add the "Vaccinated" variable to the pets data frame, so it looks like this:
  
#        Months.old        Size Weight Breed Vaccinated
#Flipper         53      medium     21   cat        Yes
#Bromley         19       small      8   cat        Yes
#Nox             34      medium      4   dog         No
#Orion           41       large      6   dog        Yes
#Dagger          84       small      7   cat         No
#Zizi           140 extra small      2   dog         No
#Carrie         109       large     36   cat        Yes
df$Vaccinated <- c("Yes", "Yes", "No", "Yes", "No", "No", "Yes")  
df

  Name    Months_old Size        Weight Breed Vaccinated
1 Flipper  53        medium      21     cat   Yes
2 Bromley  19        small        8     cat   Yes
3 Nox      34        medium       4     dog   No
4 Orion    41        large        6     dog   Yes
5 Dagger   84        small        7     cat   No
6 Zizi    140        extra small  2     dog   No
7 Carrie  109        large       36     cat   Yes

In [36]:
#        Months.old        Size Weight Breed Vaccinated
#Flipper         53      medium     21   cat        Yes
#Bromley         19       small      8   cat        Yes
#Nox             34      medium      4   dog         No
#Orion           41       large      6   dog        Yes
#Dagger          84       small      7   cat         No
#Zizi           140 extra small      2   dog         No
#Carrie         109       large     36   cat        Yes
#Milo            67       small      7   dog        Yes
new_observation <- data.frame(
  Name = "Milo",
  Months_old = 67,
  Size = "small",
  Weight = 7,
  Breed = "dog",
  Vaccinated = "Yes"
)

df <- rbind(df, new_observation)
df

  Name    Months_old Size        Weight Breed Vaccinated
1 Flipper  53        medium      21     cat   Yes
2 Bromley  19        small        8     cat   Yes
3 Nox      34        medium       4     dog   No
4 Orion    41        large        6     dog   Yes
5 Dagger   84        small        7     cat   No
6 Zizi    140        extra small  2     dog   No
7 Carrie  109        large       36     cat   Yes
8 Milo     67        small        7     dog   Yes

In [ ]:
# How many rows and columns does your new data frame have? What are their names, and what is the class of each variable (the answer to this will be different depending on whether you create your data frames by encoding the string variables as factors or not).
## How many rows and columns does your new data frame have?
### The data frame df has 8 rows and 6 columns.
The names of the variables in the data frame are:
Name
Months_old
Size
Weight
Breed
Vaccinated

The class of each variable in the data frame is as follows:
Name: character
Months_old: numeric
Size: character
Weight: numeric
Breed: character
Vaccinated: character

In [37]:
# Get the number of rows and columns in the new data frame
num_rows <- nrow(df)
num_columns <- ncol(df)

# Get the names of the variables in the data frame
variable_names <- names(df)

# Get the class of each variable in the data frame
variable_class <- sapply(df, class)

# Print the results
num_rows
num_columns
variable_names
variable_class

[1] 8

[1] 6

[1] "Name"       "Months_old" "Size"       "Weight"     "Breed"
[6] "Vaccinated"

       Name  Months_old        Size      Weight       Breed  Vaccinated
"character"   "numeric" "character"   "numeric" "character" "character"

In [39]:
# 2. Load the diamonds data set from the ggplot2 package. Check its class and if it isn't a data frame, convert it to one.
install.packages("ggplot2")  # Install ggplot2 package
library(ggplot2)             # Load ggplot2 package
data(diamonds)               # Load diamonds dataset

also installing the dependencies 'colorspace', 'farver', 'labeling', 'munsell', 'RColorBrewer', 'viridisLite', 'pkgconfig', 'gtable', 'isoband', 'scales', 'tibble'

package 'colorspace' successfully unpacked and MD5 sums checked
package 'farver' successfully unpacked and MD5 sums checked
package 'labeling' successfully unpacked and MD5 sums checked
package 'munsell' successfully unpacked and MD5 sums checked
package 'RColorBrewer' successfully unpacked and MD5 sums checked
package 'viridisLite' successfully unpacked and MD5 sums checked
package 'pkgconfig' successfully unpacked and MD5 sums checked
package 'gtable' successfully unpacked and MD5 sums checked
package 'isoband' successfully unpacked and MD5 sums checked
package 'scales' successfully unpacked and MD5 sums checked
package 'tibble' successfully unpacked and MD5 sums checked
package 'ggplot2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\baoth\AppData\Local\Temp\RtmpSQPf2n\downloaded_packages

In [43]:
# Check its class and if it isn't a data frame, convert it to one.
class_before <- class(diamonds)
class_before

[1] "tbl_df"     "tbl"        "data.frame"

In [45]:
# 3. Load the built-in UsJudgeRatings data set and check its class. If it's not a data frame, convert it to one.
ls("package:datasets")

  [1] "ability.cov"           "airmiles"              "AirPassengers"
  [4] "airquality"            "anscombe"              "attenu"
  [7] "attitude"              "austres"               "beaver1"
 [10] "beaver2"               "BJsales"               "BJsales.lead"
 [13] "BOD"                   "cars"                  "ChickWeight"
 [16] "chickwts"              "co2"                   "CO2"
 [19] "crimtab"               "discoveries"           "DNase"
 [22] "esoph"                 "euro"                  "euro.cross"
 [25] "eurodist"              "EuStockMarkets"        "faithful"
 [28] "fdeaths"               "Formaldehyde"          "freeny"
 [31] "freeny.x"              "freeny.y"              "HairEyeColor"
 [34] "Harman23.cor"          "Harman74.cor"          "Indometh"
 [37] "infert"                "InsectSprays"          "iris"
 [40] "iris3"                 "islands"               "JohnsonJohnson"
 [43] "LakeHuron"             "ldeaths"               "lh"
 [46] "LifeCycleSavings"      "Loblolly"              "longley"
 [49] "lynx"                  "mdeaths"               "morley"
 [52] "mtcars"                "nhtemp"                "Nile"
 [55] "nottem"                "npk"                   "occupationalStatus"
 [58] "Orange"                "OrchardSprays"         "PlantGrowth"
 [61] "precip"                "presidents"            "pressure"
 [64] "Puromycin"             "quakes"                "randu"
 [67] "rivers"                "rock"                  "Seatbelts"
 [70] "sleep"                 "stack.loss"            "stack.x"
 [73] "stackloss"             "state.abb"             "state.area"
 [76] "state.center"          "state.division"        "state.name"
 [79] "state.region"          "state.x77"             "sunspot.month"
 [82] "sunspot.year"          "sunspots"              "swiss"
 [85] "Theoph"                "Titanic"               "ToothGrowth"
 [88] "treering"              "trees"                 "UCBAdmissions"
 [91] "UKDriverDeaths"        "UKgas"                 "USAccDeaths"
 [94] "USArrests"             "UScitiesD"             "USJudgeRatings"
 [97] "USPersonalExpenditure" "uspop"                 "VADeaths"
[100] "volcano"               "warpbreaks"            "women"
[103] "WorldPhones"           "WWWusage"

In [48]:
# 3. Load the built-in USJudgeRatings data set and check its class. If it's not a data frame, convert it to one.
data(USJudgeRatings)
class(USJudgeRatings)

[1] "data.frame"

In [50]:
# 3. Load the built-in USJudgeRatings data set and check its class. If it's not a data frame, convert it to one.
if (!is.data.frame(USJudgeRatings)) { USJudgeRatings <- as.data.frame(USJudgeRatings) }
class(USJudgeRatings)

[1] "data.frame"

In [51]:
head(USJudgeRatings)

               CONT INTG DMNR DILG CFMG DECI PREP FAMI ORAL WRIT PHYS RTEN
AARONSON,L.H.  5.7  7.9  7.7  7.3  7.1  7.4  7.1  7.1  7.1  7.0  8.3  7.8
ALEXANDER,J.M. 6.8  8.9  8.8  8.5  7.8  8.1  8.0  8.0  7.8  7.9  8.5  8.7
ARMENTANO,A.J. 7.2  8.1  7.8  7.8  7.5  7.6  7.5  7.5  7.3  7.4  7.9  7.8
BERDON,R.I.    6.8  8.8  8.5  8.8  8.3  8.5  8.7  8.7  8.4  8.5  8.8  8.7
BRACKEN,J.J.   7.3  6.4  4.3  6.5  6.0  6.2  5.7  5.7  5.1  5.3  5.5  4.8
BURNS,E.B.     6.2  8.8  8.7  8.5  7.9  8.0  8.1  8.0  8.0  8.0  8.6  8.6

In [52]:
#Create a new variable called AVRG and calculate the average rating for each judge. Save this variable in a separate data frame.

# Calculate average rating for each judge
AVRG <- data.frame(
  Judge = rownames(USJudgeRatings),
  AverageRating = rowMeans(USJudgeRatings)
)

# Print the new data frame
AVRG

                Judge           AverageRating
AARONSON,L.H.   AARONSON,L.H.   7.291667
ALEXANDER,J.M.  ALEXANDER,J.M.  8.150000
ARMENTANO,A.J.  ARMENTANO,A.J.  7.616667
BERDON,R.I.     BERDON,R.I.     8.458333
BRACKEN,J.J.    BRACKEN,J.J.    5.733333
BURNS,E.B.      BURNS,E.B.      8.116667
CALLAHAN,R.J.   CALLAHAN,R.J.   8.858333
COHEN,S.S.      COHEN,S.S.      5.458333
DALY,J.J.       DALY,J.J.       8.516667
DANNEHY,J.F.    DANNEHY,J.F.    7.891667
DEAN,H.H.       DEAN,H.H.       7.458333
DEVITA,H.J.     DEVITA,H.J.     7.125000
DRISCOLL,P.J.   DRISCOLL,P.J.   7.366667
GRILLO,A.E.     GRILLO,A.E.     6.683333
HADDEN,W.L.JR.  HADDEN,W.L.JR.  7.850000
HAMILL,E.C.     HAMILL,E.C.     7.450000
HEALEY.A.H.     HEALEY.A.H.     6.866667
HULL,T.C.       HULL,T.C.       7.400000
LEVINE,I.       LEVINE,I.       7.808333
LEVISTER,R.L.   LEVISTER,R.L.   6.608333
MARTIN,L.F.     MARTIN,L.F.     7.091667
MCGRATH,J.F.    MCGRATH,J.F.    6.783333
MIGNONE,A.F.    MIGNONE,A.F.    5.841667
MISSAL,H.M.     MISSAL,H.M.     7.458333
MULVEY,H.M.     MULVEY,H.M.     8.450000
NARUK,H.J.      NARUK,H.J.      8.783333
O'BRIEN,F.J.    O'BRIEN,F.J.    7.941667
O'SULLIVAN,T.J. O'SULLIVAN,T.J. 8.483333
PASKEY,L.       PASKEY,L.       8.066667
RUBINOW,J.E.    RUBINOW,J.E.    8.791667
SADEN.G.A.      SADEN.G.A.      7.775000
SATANIELLO,A.G. SATANIELLO,A.G. 7.800000
SHEA,D.M.       SHEA,D.M.       8.191667
SHEA,J.F.JR.    SHEA,J.F.JR.    8.500000
SIDOR,W.J.      SIDOR,W.J.      5.808333
SPEZIALE,J.A.   SPEZIALE,J.A.   8.183333
SPONZO,M.J.     SPONZO,M.J.     7.841667
STAPLETON,J.F.  STAPLETON,J.F.  7.683333
TESTO,R.J.      TESTO,R.J.      7.108333
TIERNEY,W.L.JR. TIERNEY,W.L.JR. 7.983333
WALL,R.A.       WALL,R.A.       7.016667
WRIGHT,D.B.     WRIGHT,D.B.     7.941667
ZARRILLI,K.J.   ZARRILLI,K.J.   7.425000

In [54]:
#Class of the new data frame

class(AVRG)

[1] "data.frame"